
<%- include header%>
<div class="hero-unit">

  <h1>
    <%- title%>
  </h1>

  <p>Home Page</p>

  <article>
    <h3>Post</h3>
    <% if (success) {%>
      <div class="alert alert-success" role="alter">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <span class="sr-only">Success</span>
        <%= success %>
      </div>

    <% } %>

    <% if (error) {%>
      <div class="alert alert-danger" role="alter">
        <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
        <span class="sr-only">Error</span>
        <%= error %>
      </div>
    <% } %>

    <% posts.forEach(function (post, index) { %>
    <p><h2><a href="/u/<%= post.username%>/<%= post.time.day%>/<%= post.title%>"><%= post.title %></a></h2></p>
    <p class="info">
      Author：<a href="/u/<%= post.username%>"><%= post.username %></a> |
      Date：<%= post.time.minute %>
    </p>
    <p><%- post.post %></p>
    <% }) %>

  </article>

</div>
